<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head', {title : 'Carteirinha Digital - ASSIFEMS', name: user.name, selectedLink: 'carteirinha'}) %>
  </head>
  <body>

    <!-- Main Div -->
    <container-desktop>
      <!-- Desktop Title -->
      <div class="title">
        CARTEIRINHA DIGITAL
        <a href="https://wa.me/556781321492">
          <img src="images/icons/help.svg" />
        </a>
      </div>
      <!-- Title End -->

      <!-- Main Content -->
      <div class="page">
        <!-- Left Side -->
        <div class="left">
          <div
            class="photo"
            style="background-image: url(<%= user.photoURL.toString() %>)"
          ></div>

          <span>
            Status:
            <span class="status"><%= user.status %></span>
          </span>
        </div>

        <!-- Left End -->

        <!-- Right Side -->
        <div class="right">
          <h1>Dados Pessoais</h1>

          <!-- First Line -->
          <div class="lines">
            <div class="data">
              <span class="red">Nome e Sobrenome:</span>
              <span class="name"><%= user.name %></span>
            </div>
          </div>

          <!-- First Line End -->

          <!-- Second Line -->
          <div class="lines">
            <!--Birth Date -->
            <div class="data">
              <span class="red">Data de Nascimento</span>
              <span>
                <%= new Date(user.birth_date).toLocaleDateString('pt-BR') %>
              </span>
            </div>

            <!--Birth Date End -->

            <!--CPF -->
            <div class="data">
              <span class="red">CPF</span>
              <span><%= user.cpf %></span>
            </div>

            <!--CPF End -->

            <!--RG -->
            <div class="data">
              <span class="red">RG</span>
              <span><%= user.rg %></span>
            </div>
            <!--RG End -->
          </div>
          <!-- Second Line End -->

          <!--Third Line -->
          <div class="lines">
            <!--SIAPE -->
            <div class="data">
              <span class="red">SIAPE</span>
              <span><%= user.siape %></span>
            </div>
            <!--SIAPE End -->

            <!--Validity -->
            <div class="data">
              <span class="red">Validade da Carteirinha</span>
              <span><%= new Date(user.validity).toLocaleDateString('pt-BR') %></span>
            </div>
            <!--Validity End -->
          </div>
          <!--Third Line End -->
        </div>
        <!-- Right Side End -->
      </div>
      <!-- Main Content End -->
    </container-desktop>

    <!-- Mobile Version -->

    <container-mobile>
      <!-- Profile Photo -->
      <div
        class="photo"
        style="background-image: url(<%= user.photoURL.toString() %>)"
       ></div>
      <!-- Profile Photo End -->

      <!-- Name and Status -->
      <div>
        <h1 class="red"><%= user.name %></h1>
        <span>
          <span class="green">Status: </span>
          <span class="status"><%= user.status %></span>
          </span>
      </div>
      <!-- Name and Status End -->

      <!-- Birthdate and Validity -->
      <div>
        <p>Data de nascimento</p>
        <span class="green"><%= new Date(user.birth_date).toLocaleDateString('pt-BR') %></span>
        <p>Validade da Carteirinha</p>
        <span class="green"><%= new Date(user.validity).toLocaleString('pt-BR') %></span>
      </div>
      <!-- Birthdate and Validity End -->

      <!-- DOCS -->
      <div class="green-box">
        <p class="green">CPF</p>
        <span><%= user.cpf %></span>
        <p class="green">RG</p>
        <span><%= user.rg %></span>
        <p class="green">SIAPE</p>
        <span><%= user.siape %></span>
      </div>
      <img class="assifems" src="/images/assifems.png" />
      <!-- DOCS End -->
    </container-mobile>

    <!-- Footer -->
    <footer>Desenvolvido por André Lopes, Igor Santana e Juan Silva.</footer>
    <!-- Footer End -->

    <!-- Scripts -->
    <script src="js/script.js"></script>
  </body>
</html>
