<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head', {title : 'Estabelecimentos - ASSIFEMS', name: 'igor', selectedLink: 'estabelecimentos'}) %>
  </head>
  <body>

    <h1 class="title_estabelecimentos">ESTABELECIMENTOS</h1>
    <input
      class="input_estabelecimentos"
      id="searchInput"
      type="text"
      placeholder="Pesquisar Estabelecimento..."
      onkeyup="search()"
    />
    <div class="class_filter">
      <img src="images/icons/filter.svg" onclick="filtrar()" />
      <span
        style="color: #fffaf0"
        onclick="filtrar()">
        Filtrar
      </span>
    </div>

    <div id="filter_options">
      <div class="row">
        <h1>Filtrar</h1>
        <img
          id="close_filter"
          src="images/icons/close.svg"
          onclick="filtrar()"
        />
      </div>

      <div class="column">
        <h1>Categorias</h1>

        <form action="/estabelecimentos" method="post">
          <% categories.forEach(function(category){ %>
          <div>
            <input
              type="checkbox"
              id="<%= category.name %>"
              name="category"
              value="<%= category.id %>"
            />
            <label for="farmacia"><%= category.name %></label>
          </div>
          <% }); %>

          <div class="button">
            <button class="filter" type="submit">FILTRAR</button>
            <button class="clear">LIMPAR</button>
          </div>
        </form>
      </div>
    </div>

    <div class="container" id="container">
      <% establishments.forEach(function(establishment){ %>
      <div class="card">
        <div class="photo" style="background-image: url(<%= establishment.imgURL.toString() %>)">
        </div>
        <div class="info">
          <h1 class="name"><%= establishment.name %></h1>
          <h3 class="category"><%= establishment.category.name %></h3>
          <h3 class="address"><a href=<%= establishment.addressURL %>><%= establishment.address %></a></h3>
          <a href="https://api.whatsapp.com/send?phone=55<%= establishment.cell %>"><button>Entrar em Contato</button></a>
        </div>
      </div>
      <% }); %>
    </div>

    <!-- Footer -->
    <footer>Desenvolvido por André Lopes, Igor Santana e Juan Silva.</footer>
    <!-- Footer End -->

    <!-- Scripts -->
    <script src="js/script.js"></script>
  </body>
</html>
